{% extends "base.html" %}

{% block content %}

<h1>Bienvenue chez S.L Multi Services</h1>

<p>
<p>
S.L Multi Services met son expérience au service de vos projets de rénovation, d'aménagement et d'amélioration de l'habitat.
</p>

<p>
J'interviens dans de nombreux domaines : chauffage, plomberie, électricité, pose de parquet, salles de bain, aménagements intérieurs, entretiens des jardins, clôtures, menuiserie et travaux de rénovation.
</p>

<p>
Chaque projet est étudié avec soin afin de vous proposer des solutions durables, adaptées à vos besoins et à votre budget, dans le respect des délais et avec un travail de qualité.
</p>

<p>
Basés près de Signy-l'Abbaye, nous intervenons dans les Ardennes et les communes environnantes pour accompagner particuliers et professionnels dans tous leurs travaux.
</p>
<p>
Contactez-nous pour échanger sur votre projet et obtenir un devis gratuit et personnalisé.
</p>

<br><br>

<div style="max-width:900px;margin:0 auto 40px auto;padding:30px;background:#B08A62;border:2px solid #D4AF37;border-radius:18px;box-shadow:0 12px 28px rgba(0,0,0,.20);">

    <h2 style="margin-top:0;color:#d4af37;">
        À votre service pour réaliser votre projet
    </h2>

    <p style="margin-bottom:25px;">
        J'accompagne les particuliers
        dans leurs projets de rénovation avec une seule priorité :
        réaliser un travail soigné, durable et adapté aux besoins de chaque client.
    </p>

   <p style="text-align:center; margin-top:25px;">

    <a href="mailto:multi.services08220@gmail.com?subject=Demande%20de%20devis">
        <button class="btn-devis">
            Demander un devis gratuit
        </button>
    </a>

</p>

</div>

<br><br><br>

<br><br>

<br><br>


</section>

<footer>

    <div class="footer-contenu">

        <p>
            © 2026 S.L Multi Services - Tous droits réservés.
        </p>
        
        <p>
            Site créé par
            <a href="https://studio-web-applications.onrender.com" target="_blank">
                Studio Web & Applications
            </a>
        </p>

    </div>

</footer>

</div>
</body>

</html>

{% endblock %}
