<!DOCTYPE html>
<html lang="fr">
<head>
   <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#000000">

    <title>S.L Multi Services</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    
<body>

<div class="sidebar">
    <a href="/">Accueil</a>
    <a href="/services">Mes services</a>
    <a href="/contact">Contact</a>
    <a href="/regions">Mes régions</a>
    <a href="/photos">Photos</a>
</div>

<div class="content">

    <img src="{{ url_for('static', filename='banniere-slmultiservices.png') }}" class="banniere">
    <div class="logo-centre">
        <img src="{{ url_for('static', filename='logo-slmultiservices.png') }}" class="logo">
    </div>

    {% block content %}{% endblock %}

</div>

</body>
</html>
