<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Telma - Tarot Destin</title>

    <link rel="icon"
          type="image/png"
          href="{{ url_for('static', filename='image/logo.png') }}">

    <link rel="apple-touch-icon"
          href="{{ url_for('static', filename='image/logo.png') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>
    
<body>

<div class="sidebar">
    <a href="/">Accueil</a>
    <a href="/services">Mes services</a>
    <a href="/contact">Contact</a>
    <a href="/regions">Mes régions</a>
    <a href="/photos">Photos</a>
</div>

<div class="content">

    <img src="{{ url_for('static', filename='images/banniere-slmultiservices.png') }}" class="banniere">

<div class="logo-centre">
    <img src="{{ url_for('static', filename='images/logo-slmultiservices.png') }}" class="logo">
    
</div>

    {% block content %}{% endblock %}

</div>

</body>
</html>

