<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>S.L Multi Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
    <a href="/">Mes services</a>
    <a href="/contact">Contact</a>
    <a href="/regions">Mes régions</a>
    <a href="/photos">Photos</a>
</div>

<div class="content">

    <img src="{{ url_for('static', filename='banniere-slmultiservices.png') }}" class="banniere">
    <div class="logo-centre">
        <img src="{{ url_for('static', filename='logo-slmultiservices.png') }}" class="logo">
    </div>

    {% block content %}{% endblock %}

</div>

</body>
</html>
