{% extends "base.html" %}

{% block content %}

<h1>Mes réalisations</h1>

<p>Quelques photos de mes travaux :</p>

<br>

<div class="galerie">

<img src="{{ url_for('static', filename='fabrication-meuble-cuisine.jpg') }}" 
    
<img src="{{ url_for('static', filename='parquet-avant.jpg') }}" 

<img src="{{ url_for('static', filename='parquet-apres.jpg') }}" 

<img src="{{ url_for('static', filename='sdb-avant.jpg') }}" 

<img src="{{ url_for('static', filename='sadb-apres1.jpg') }}" 

<img src="{{ url_for('static', filename='sdb-apres2.jpg') }}" 

<img src="{{ url_for('static', filename='meuble-sdb.jpg') }}" 

</div>

<br><br><br>

<br><br>

<br><br>

<br><br>


</section>

<footer>

    <div class="footer-contenu">

        <p>
            © 2026 Studio Web & Applications - Tous droits réservés.
        </p>

    </div>

</footer>

</div>
</body>

</html>

{% endblock %}
