{% extends "base.html" %}

{% block content %}

<h1>Quelques exemples de mes réalisations</h1>


<br>

<div class="galerie">

    <img src="{{ url_for('static', filename='images/fabrication-meuble-cuisine.jpg') }}" alt="Fabrication meuble cuisine">

    <img src="{{ url_for('static', filename='images/parquet-avant.jpg') }}" alt="Parquet avant">

    <img src="{{ url_for('static', filename='images/parquet-apres.jpg') }}" alt="Parquet après">

    <img src="{{ url_for('static', filename='images/sdb-avant.jpg') }}" alt="Salle de bain avant">

    <img src="{{ url_for('static', filename='images/sadb-apres1.jpg') }}" alt="Salle de bain après 1">

    <img src="{{ url_for('static', filename='images/sdb-apres2.jpg') }}" alt="Salle de bain après 2">

    <img src="{{ url_for('static', filename='images/meuble-sdb.jpg') }}" alt="Meuble salle de bain">

</div>

<br><br><br>

<br><br>

<br><br>

<br><br>


</section>

<footer>

    <div class="footer-contenu">

        <p>
            © 2026 Studio Web & Applications - Tous droits réservés.
        </p>

    </div>

</footer>

</div>
</body>

</html>

{% endblock %}
