{% extends "base.html" %}

{% block content %}

<h1>Mes régions</h1>

<p>
J'interviens principalement dans les communes suivantes :
</p>

<p>
📍 Signy-l'Abbaye<br>
📍 La Romagne<br>
📍 Lalobbe<br>
📍 Draize<br>
📍 Saint-Jean-aux-Bois<br>
📍 Montmeillant<br>
📍 Chaumont-Porcien<br>
📍 Rethel
</p>

<p>
Pour toute demande en dehors de ces secteurs,
n'hésitez pas à me contacter.
</p>

<br><br>

<br><br>

<br><br>


</section>

<footer>

    <div class="footer-contenu">

        <p>
            © 2026 S.L Multi Services - Tous droits réservés.
        </p>

    </div>

</footer>

</div>
</body>

</html>

{% endblock %}
