{% extends "base.html" %}

{% block content %}

<h1>Mes services</h1>


<h2>🔥 Chauffage</h2>

<p>
Installation, entretien et dépannage de systèmes de chauffage.
</p>

<p>
✔ Remplacement de pièces usées ou défectueuses<br>
✔ Travaux de tuyautage<br>
✔ Remplacement de chauffe-eau<br>
✔ Réparation de radiateurs<br>
✔ Recherche de pannes<br>
✔ Maintenance préventive
</p>

<h2>⚡ Électricité</h2>

<p>
Travaux électriques et mise en conformité.
</p>

<p>
✔ Pose de prises supplémentaires<br>
✔ Travaux de câblage<br>
✔ Remplacement de fusibles<br>
✔ Contrôle des circuits électriques<br>
✔ Recherche de dysfonctionnements<br>
✔ Dépannage et mise en sécurité
</p>


<h2>💧 Plomberie</h2>

<p>
Installation, réparation et entretien.
</p>

<p>
✔ Recherche de fuites<br>
✔ Remplacement de robinets<br>
✔ Installation de sanitaires<br>
✔ Remplacement de WC, lavabos et éviers<br>
✔ Travaux de tuyautage<br>
✔ Dépannage divers
</p>


<h2>🚧 Clôtures / Jardin</h2>

<p>
Travaux extérieurs.
</p>

<p>
✔ Pose de clôtures<br>
✔ Réparation de clôtures<br>
✔ Petits travaux de jardinage<br>
✔ Entretien extérieur
</p>

<br><br>

<br><br>

<br><br>


</section>

<footer>

    <div class="footer-contenu">

        <p>
            © 2026 Studio Web & Applications - Tous droits réservés.
        </p>

    </div>

</footer>

</div>
</body>

</html>
{% endblock %}
